USE  MOBILESHOP;
SET DATEFORMAT DMY;	

-- SELECT 
SELECT * FROM dbo.GETEVALUATE_AVG('SP02')		

SELECT * FROM dbo.GETPRODUCT_FORM('sp01')	

SELECT * FROM dbo.GET_PRODUCT_BRANCH('TH03')	order by GIA desc

select * from THONGTIN_SHOP
	
SELECT * FROM dbo.GETEVALUATE_AVG('SP02')		

SELECT * FROM dbo.GETPRODUCT_FORM('sp01')		

SELECT * FROM dbo.GETPRODUCT_FORM('sp01')	

-- CREATE FUNCTION	
CREATE FUNCTION SEARCHFBACK (@keyword nvarchar(2000))
RETURNS TABLE
	AS 
		RETURN 
			SELECT * FROM PHANHOI WHERE EMAIL LIKE N'%'+@KEYWORD+'%' 
			OR HOTEN LIKE N'%'+@KEYWORD+'%' OR SDT LIKE N'%'+@KEYWORD+'%' OR 
			THOIGIAN LIKE N'%'+@KEYWORD+'%' OR LOINHAN LIKE N'%'+@KEYWORD+'%' OR TRANGTHAI LIKE N'%'+@KEYWORD+'%'
			
CREATE FUNCTION SEARCHBRANCH(@SEA NVARCHAR(1000),@start int,@end int)
RETURNS TABLE 
AS
RETURN SELECT *
FROM (SELECT ROW_NUMBER() OVER (ORDER BY MATH ASC) AS STT, *
    FROM THUONGHIEU
    WHERE MATH LIKE N'%'+@SEA+'%' OR TENTH LIKE N'%'+@SEA+'%'
        OR SLDT LIKE N'%'+@SEA+'%' OR TRANGTHAI LIKE N'%'+@SEA+'%') AS RESULT
WHERE STT BETWEEN @start AND @END


SELECT TK.MASP,round(CONVERT(FLOAT,SUM(TK.SOLUOT*TK.MUCDANHGIA))/CONVERT(FLOAT,SUM(TK.SOLUOT)),2)
FROM( 
SELECT MASP,COUNT(MUCDANHGIA) SOLUOT,MUCDANHGIA
from DANHGIA
WHERE MASP='SP01'
GROUP BY MUCDANHGIA,MASP) TK 
GROUP BY TK.MASP



--LAY RA SAN PHAM THEO KHUON HIEN THI
GO
CREATE FUNCTION GETPRODUCT_FORM(@MASP CHAR(10))
RETURNS TABLE
AS RETURN 
SELECT SP.MASP,SP.TENSP,GIA.GIA,GIA.GIA_KM,HA.ANH
FROM SANPHAM SP JOIN (
	SELECT G1.*
	FROM GIA_SP G1 
	JOIN (SELECT MASP, MAX(NGAYCAPNHAT) NGAYCAPNHAT
							FROM GIA_SP
							GROUP BY MASP
							) TK ON TK.MASP=G1.MASP
							 AND TK.NGAYCAPNHAT=G1.NGAYCAPNHAT
	) GIA ON GIA.MASP=SP.MASP JOIN(
	SELECT HA.*
	FROM HINHANH HA JOIN (SELECT MASP,MAX(MAMAU) MAMAU
								FROM HINHANH
								GROUP BY MASP
								) TK ON TK.MASP=HA.MASP AND TK.MAMAU=HA.MAMAU
	 WHERE HA.LOAIANH='NEN')HA ON HA.MASP=SP.MASP
		WHERE SP.MASP=@MASP
GO

-- LAY RA SAO TRUNG BINH
	GO
CREATE FUNCTION GETEVALUATE_AVG(@MASP CHAR(10))
RETURNS TABLE
AS RETURN
SELECT TK.MASP,round(CONVERT(FLOAT,SUM(TK.SOLUOT*TK.MUCDANHGIA))/CONVERT(FLOAT,SUM(TK.SOLUOT)),2)STB
				FROM( 
					SELECT MASP,COUNT(MUCDANHGIA) SOLUOT,MUCDANHGIA
					from DANHGIA
					
					GROUP BY MUCDANHGIA,MASP) TK 
					GROUP BY TK.MASP	
					
GO
--LAY RA DANH SACH SAN PHAM DUA VAO MATH BAO GOM DAY DU CAC THUOC TINH CAN THIET
DROP FUNCTION GET_PRODUCT_BRANCH
DROP FUNCTION GET_PRODUCT_PRICES
DROP FUNCTION GET_PRODUCT_TYPE
SELECT * FROM GET_PRODUCT_BRANCH('OPPO')
	GO
CREATE FUNCTION GET_PRODUCT_BRANCH(@MATH CHAR(10))
RETURNS TABLE
AS RETURN
SELECT SP.MASP,SP.TENSP,GIA.GIA,GIA.GIA_KM,HA.ANH,DG.AVGDANHGIA,SP.NGAYCAPNHAT,SP.LUOTXEM,SP.LOAI_SP
FROM SANPHAM SP JOIN (
	SELECT G1.*
	FROM GIA_SP G1 
	JOIN (SELECT MASP, MAX(NGAYCAPNHAT) NGAYCAPNHAT
			FROM GIA_SP	GROUP BY MASP) TK ON TK.MASP=G1.MASP
				AND TK.NGAYCAPNHAT=G1.NGAYCAPNHAT
				) GIA ON GIA.MASP=SP.MASP JOIN(
				SELECT HA.*
				FROM HINHANH HA
				 JOIN (SELECT MASP,MAX(MAMAU) MAMAU
					FROM HINHANH	
						GROUP BY MASP) TK ON 
						TK.MASP=HA.MASP AND TK.MAMAU=HA.MAMAU
						 WHERE HA.LOAIANH='NEN')HA ON HA.MASP=SP.MASP
				JOIN(
				 SELECT SP.MASP,CASE WHEN EXISTS( SELECT DG.MASP FROM DANHGIA DG WHERE DG.MASP=SP.MASP )
					 THEN (	SELECT round(CONVERT(FLOAT,SUM(TK.SOLUOT*TK.MUCDANHGIA))/CONVERT(FLOAT,SUM(TK.SOLUOT)),2)STB
					FROM(SELECT MASP,COUNT(MUCDANHGIA) SOLUOT,MUCDANHGIA from DANHGIA
					WHERE MASP=SP.MASP	GROUP BY MUCDANHGIA,MASP) TK 
					GROUP BY TK.MASP)
					 ELSE 0 END AS AVGDANHGIA
						FROM SANPHAM SP) DG ON DG.MASP=SP.MASP JOIN THUONGHIEU TH ON TH.MATH=SP.MATH
						-- ten thuong hieu
						WHERE TH.TENTH=@MATH
		
		
		
	GO
CREATE FUNCTION GET_PRODUCT_PRICES_SMAILLER(@GIA_BD INT)
RETURNS TABLE
RETURN		
SELECT SP.MASP,SP.TENSP,GIA.GIA,GIA.GIA_KM,HA.ANH,DG.AVGDANHGIA,SP.NGAYCAPNHAT,SP.LUOTXEM,SP.LOAI_SP
FROM SANPHAM SP JOIN (
	SELECT G1.*
	FROM GIA_SP G1 
	JOIN (SELECT MASP, MAX(NGAYCAPNHAT) NGAYCAPNHAT
			FROM GIA_SP	GROUP BY MASP) TK ON TK.MASP=G1.MASP
				AND TK.NGAYCAPNHAT=G1.NGAYCAPNHAT
				) GIA ON GIA.MASP=SP.MASP JOIN(
				SELECT HA.*
				FROM HINHANH HA
				 JOIN (SELECT MASP,MAX(MAMAU) MAMAU
					FROM HINHANH	
						GROUP BY MASP) TK ON 
						TK.MASP=HA.MASP AND TK.MAMAU=HA.MAMAU
						 WHERE HA.LOAIANH='NEN')HA ON HA.MASP=SP.MASP
				JOIN(
				 SELECT SP.MASP,CASE WHEN EXISTS( SELECT DG.MASP FROM DANHGIA DG WHERE DG.MASP=SP.MASP )
					 THEN (	SELECT round(CONVERT(FLOAT,SUM(TK.SOLUOT*TK.MUCDANHGIA))/CONVERT(FLOAT,SUM(TK.SOLUOT)),2)STB
					FROM(SELECT MASP,COUNT(MUCDANHGIA) SOLUOT,MUCDANHGIA
					from DANHGIA
					WHERE MASP=SP.MASP
					GROUP BY MUCDANHGIA,MASP) TK 
					GROUP BY TK.MASP) ELSE 0 END AS AVGDANHGIA
						FROM SANPHAM SP) DG ON DG.MASP=SP.MASP

						WHERE GIA.GIA <=@GIA_BD
	GO	
	
			GO
CREATE FUNCTION GET_PRODUCT_PRICES_BIGGER(@GIA_BD INT)
RETURNS TABLE
RETURN		
SELECT SP.MASP,SP.TENSP,GIA.GIA,GIA.GIA_KM,HA.ANH,DG.AVGDANHGIA,SP.NGAYCAPNHAT,SP.LUOTXEM,SP.LOAI_SP
FROM SANPHAM SP JOIN (
	SELECT G1.*
	FROM GIA_SP G1 
	JOIN (SELECT MASP, MAX(NGAYCAPNHAT) NGAYCAPNHAT
			FROM GIA_SP	GROUP BY MASP) TK ON TK.MASP=G1.MASP
				AND TK.NGAYCAPNHAT=G1.NGAYCAPNHAT
				) GIA ON GIA.MASP=SP.MASP JOIN(
				SELECT HA.*
				FROM HINHANH HA
				 JOIN (SELECT MASP,MAX(MAMAU) MAMAU
					FROM HINHANH	
						GROUP BY MASP) TK ON 
						TK.MASP=HA.MASP AND TK.MAMAU=HA.MAMAU
						 WHERE HA.LOAIANH='NEN')HA ON HA.MASP=SP.MASP
				JOIN(
				 SELECT SP.MASP,CASE WHEN EXISTS( SELECT DG.MASP FROM DANHGIA DG WHERE DG.MASP=SP.MASP )
					 THEN (	SELECT round(CONVERT(FLOAT,SUM(TK.SOLUOT*TK.MUCDANHGIA))/CONVERT(FLOAT,SUM(TK.SOLUOT)),2)STB
					FROM(SELECT MASP,COUNT(MUCDANHGIA) SOLUOT,MUCDANHGIA
					from DANHGIA
					WHERE MASP=SP.MASP
					GROUP BY MUCDANHGIA,MASP) TK 
					GROUP BY TK.MASP) ELSE 0 END AS AVGDANHGIA
						FROM SANPHAM SP) DG ON DG.MASP=SP.MASP

						WHERE GIA.GIA >=@GIA_BD
	GO	
	
	
 GO	
CREATE FUNCTION GET_PRODUCT_PRICES(@GIA_BD INT,@GIA_KT INT)
RETURNS TABLE
RETURN		
SELECT SP.MASP,SP.TENSP,GIA.GIA,GIA.GIA_KM,HA.ANH,DG.AVGDANHGIA,SP.NGAYCAPNHAT,SP.LUOTXEM,SP.LOAI_SP
FROM SANPHAM SP JOIN (
	SELECT G1.*
	FROM GIA_SP G1 
	JOIN (SELECT MASP, MAX(NGAYCAPNHAT) NGAYCAPNHAT
			FROM GIA_SP	GROUP BY MASP) TK ON TK.MASP=G1.MASP
				AND TK.NGAYCAPNHAT=G1.NGAYCAPNHAT
				) GIA ON GIA.MASP=SP.MASP JOIN(
				SELECT HA.*
				FROM HINHANH HA
				 JOIN (SELECT MASP,MAX(MAMAU) MAMAU
					FROM HINHANH	
						GROUP BY MASP) TK ON 
						TK.MASP=HA.MASP AND TK.MAMAU=HA.MAMAU
						 WHERE HA.LOAIANH='NEN')HA ON HA.MASP=SP.MASP
				JOIN(
				 SELECT SP.MASP,CASE WHEN EXISTS( SELECT DG.MASP FROM DANHGIA DG WHERE DG.MASP=SP.MASP )
					 THEN (	SELECT round(CONVERT(FLOAT,SUM(TK.SOLUOT*TK.MUCDANHGIA))/CONVERT(FLOAT,SUM(TK.SOLUOT)),2)STB
					FROM(SELECT MASP,COUNT(MUCDANHGIA) SOLUOT,MUCDANHGIA
					from DANHGIA
					WHERE MASP=SP.MASP
					GROUP BY MUCDANHGIA,MASP) TK 
					GROUP BY TK.MASP) ELSE 0 END AS AVGDANHGIA
						FROM SANPHAM SP) DG ON DG.MASP=SP.MASP

						WHERE GIA.GIA BETWEEN @GIA_BD AND @GIA_KT
	GO	
	
	DROP FUNCTION GET_PRODUCT_COLOR
	
	CREATE FUNCTION GET_PRODUCT_COLOR(@MASP CHAR(10),@MAMAU CHAR(10))
RETURNS TABLE
RETURN		
SELECT SP.MASP,SP.TENSP,GIA.GIA,GIA.GIA_KM,HA.ANH,DG.AVGDANHGIA,SP.NGAYCAPNHAT,SP.LUOTXEM,SP.LOAI_SP,TH.TENTH,MS.TENMAU
FROM SANPHAM SP JOIN (
	SELECT G1.*
	FROM GIA_SP G1 
	JOIN (SELECT MASP, MAX(NGAYCAPNHAT) NGAYCAPNHAT
			FROM GIA_SP	GROUP BY MASP) TK ON TK.MASP=G1.MASP
				AND TK.NGAYCAPNHAT=G1.NGAYCAPNHAT
				) GIA ON GIA.MASP=SP.MASP
	 JOIN(SELECT HA.*FROM HINHANH HA
						 WHERE HA.LOAIANH='NEN' AND MAMAU=@MAMAU)HA ON HA.MASP=SP.MASP JOIN MAUSAC MS ON MS.MAMAU =HA.MAMAU
	JOIN( SELECT SP.MASP,CASE WHEN EXISTS( SELECT DG.MASP FROM DANHGIA DG WHERE DG.MASP=SP.MASP )
					 THEN (	SELECT round(CONVERT(FLOAT,SUM(TK.SOLUOT*TK.MUCDANHGIA))/CONVERT(FLOAT,SUM(TK.SOLUOT)),2)STB
					FROM(SELECT MASP,COUNT(MUCDANHGIA) SOLUOT,MUCDANHGIA
					from DANHGIA
					WHERE MASP=SP.MASP
					GROUP BY MUCDANHGIA,MASP) TK 
					GROUP BY TK.MASP) ELSE 0 END AS AVGDANHGIA
						FROM SANPHAM SP) DG ON DG.MASP=SP.MASP JOIN THUONGHIEU TH ON TH.MATH=SP.MATH WHERE SP.MASP=@MASP

SELECT * FROM GET_PRODUCT_COLOR('SP01','MS04')				
	GO	
SELECT * FROM GET_PRODUCT_PRICES(0,1000000)			
-- LAY RA DANH SACH SAN PHAM THEO LOAI SAN PHAM
	GO
CREATE FUNCTION GET_PRODUCT_TYPE(@LOAI NVARCHAR(100))
RETURNS TABLE
RETURN		
SELECT SP.MASP,SP.TENSP,GIA.GIA,GIA.GIA_KM,HA.ANH,DG.AVGDANHGIA,SP.NGAYCAPNHAT,SP.LUOTXEM,SP.LOAI_SP
FROM SANPHAM SP JOIN (
	SELECT G1.*
	FROM GIA_SP G1 
	JOIN (SELECT MASP, MAX(NGAYCAPNHAT) NGAYCAPNHAT
			FROM GIA_SP	GROUP BY MASP) TK ON TK.MASP=G1.MASP
				AND TK.NGAYCAPNHAT=G1.NGAYCAPNHAT
				) GIA ON GIA.MASP=SP.MASP JOIN(
				SELECT HA.*
				FROM HINHANH HA
				 JOIN (SELECT MASP,MAX(MAMAU) MAMAU
					FROM HINHANH	
						GROUP BY MASP) TK ON 
						TK.MASP=HA.MASP AND TK.MAMAU=HA.MAMAU
						 WHERE HA.LOAIANH='NEN')HA ON HA.MASP=SP.MASP
				JOIN(
				 SELECT SP.MASP,CASE WHEN EXISTS( SELECT DG.MASP FROM DANHGIA DG WHERE DG.MASP=SP.MASP )
					 THEN (	SELECT round(CONVERT(FLOAT,SUM(TK.SOLUOT*TK.MUCDANHGIA))/CONVERT(FLOAT,SUM(TK.SOLUOT)),2)STB
					FROM(SELECT MASP,COUNT(MUCDANHGIA) SOLUOT,MUCDANHGIA
					from DANHGIA
					WHERE MASP=SP.MASP
					GROUP BY MUCDANHGIA,MASP) TK 
					GROUP BY TK.MASP) ELSE 0 END AS AVGDANHGIA
						FROM SANPHAM SP) DG ON DG.MASP=SP.MASP

						WHERE SP.LOAI_SP=@LOAI
	GO			
	SELECT * FROM GET_PRODUCT_TYPE(N'mới') order by LOAI_SP asc ,TENSP asc
	
SELECT * FROM SANPHAM
-- LAY RA DANH SACH SAN PHAM THEO SAN PHAM NOI BAT, SAN PHAM DUOC BAN NHIEU
	GO
CREATE FUNCTION GET_PRODUCT_SPECIAL(@NUMBER INT)
RETURNS TABLE
RETURN		
SELECT TOP (@NUMBER) SP.MASP,SP.TENSP,GIA.GIA,GIA.GIA_KM,HA.ANH,DG.AVGDANHGIA,SP.NGAYCAPNHAT,SP.LUOTXEM,SP.LOAI_SP
FROM SANPHAM SP JOIN (
	SELECT G1.*
	FROM GIA_SP G1 
	JOIN (SELECT MASP, MAX(NGAYCAPNHAT) NGAYCAPNHAT
			FROM GIA_SP	GROUP BY MASP) TK ON TK.MASP=G1.MASP
				AND TK.NGAYCAPNHAT=G1.NGAYCAPNHAT
				) GIA ON GIA.MASP=SP.MASP JOIN(
				SELECT HA.*
				FROM HINHANH HA
				 JOIN (SELECT MASP,MAX(MAMAU) MAMAU
					FROM HINHANH	
						GROUP BY MASP) TK ON 
						TK.MASP=HA.MASP AND TK.MAMAU=HA.MAMAU
						 WHERE HA.LOAIANH='NEN')HA ON HA.MASP=SP.MASP
				JOIN(
				 SELECT SP.MASP,CASE WHEN EXISTS( SELECT DG.MASP FROM DANHGIA DG WHERE DG.MASP=SP.MASP )
					 THEN (	SELECT round(CONVERT(FLOAT,SUM(TK.SOLUOT*TK.MUCDANHGIA))/CONVERT(FLOAT,SUM(TK.SOLUOT)),2)STB
					FROM(SELECT MASP,COUNT(MUCDANHGIA) SOLUOT,MUCDANHGIA
					from DANHGIA
					WHERE MASP=SP.MASP
					GROUP BY MUCDANHGIA,MASP) TK 
					GROUP BY TK.MASP) ELSE 0 END AS AVGDANHGIA
						FROM SANPHAM SP) DG ON DG.MASP=SP.MASP
						


-- LAY RA DANH SACH SAN PHAM THEO SAN PHAM NOI BAT
	GO
CREATE FUNCTION GET_PRODUCT_NEW(@NUMBER INT)
RETURNS TABLE
RETURN		
SELECT TOP (@NUMBER) SP.MASP,SP.TENSP,GIA.GIA,GIA.GIA_KM,HA.ANH,DG.AVGDANHGIA,SP.NGAYCAPNHAT,SP.LUOTXEM,SP.LOAI_SP
FROM SANPHAM SP JOIN (
	SELECT G1.*
	FROM GIA_SP G1 
	JOIN (SELECT MASP, MAX(NGAYCAPNHAT) NGAYCAPNHAT
			FROM GIA_SP	GROUP BY MASP) TK ON TK.MASP=G1.MASP
				AND TK.NGAYCAPNHAT=G1.NGAYCAPNHAT
				) GIA ON GIA.MASP=SP.MASP JOIN(
				SELECT HA.*
				FROM HINHANH HA
				 JOIN (SELECT MASP,MAX(MAMAU) MAMAU
					FROM HINHANH	
						GROUP BY MASP) TK ON 
						TK.MASP=HA.MASP AND TK.MAMAU=HA.MAMAU
						 WHERE HA.LOAIANH='NEN')HA ON HA.MASP=SP.MASP
				JOIN(
				 SELECT SP.MASP,CASE WHEN EXISTS( SELECT DG.MASP FROM DANHGIA DG WHERE DG.MASP=SP.MASP )
					 THEN (	SELECT round(CONVERT(FLOAT,SUM(TK.SOLUOT*TK.MUCDANHGIA))/CONVERT(FLOAT,SUM(TK.SOLUOT)),2)STB
					FROM(SELECT MASP,COUNT(MUCDANHGIA) SOLUOT,MUCDANHGIA
					from DANHGIA
					WHERE MASP=SP.MASP
					GROUP BY MUCDANHGIA,MASP) TK 
					GROUP BY TK.MASP) ELSE 0 END AS AVGDANHGIA
						FROM SANPHAM SP) DG ON DG.MASP=SP.MASP
						ORDER BY NGAYCAPNHAT DESC

-- LAY RA DANH SACH SAN PHAM THEO SAN PHAM CO GIA CAO NHAT
	GO
CREATE FUNCTION GET_PRODUCT_HIGHESTPRICE(@NUMBER INT)
RETURNS TABLE
RETURN		
SELECT TOP (@NUMBER) SP.MASP,SP.TENSP,GIA.GIA,GIA.GIA_KM,HA.ANH,DG.AVGDANHGIA,SP.NGAYCAPNHAT,SP.LUOTXEM,SP.LOAI_SP
FROM SANPHAM SP JOIN (
	SELECT G1.*
	FROM GIA_SP G1 
	JOIN (SELECT MASP, MAX(NGAYCAPNHAT) NGAYCAPNHAT
			FROM GIA_SP	GROUP BY MASP) TK ON TK.MASP=G1.MASP
				AND TK.NGAYCAPNHAT=G1.NGAYCAPNHAT
				) GIA ON GIA.MASP=SP.MASP JOIN(
				SELECT HA.*
				FROM HINHANH HA
				 JOIN (SELECT MASP,MAX(MAMAU) MAMAU
					FROM HINHANH	
						GROUP BY MASP) TK ON 
						TK.MASP=HA.MASP AND TK.MAMAU=HA.MAMAU
						 WHERE HA.LOAIANH='NEN')HA ON HA.MASP=SP.MASP
				JOIN(
				 SELECT SP.MASP,CASE WHEN EXISTS( SELECT DG.MASP FROM DANHGIA DG WHERE DG.MASP=SP.MASP )
					 THEN (	SELECT round(CONVERT(FLOAT,SUM(TK.SOLUOT*TK.MUCDANHGIA))/CONVERT(FLOAT,SUM(TK.SOLUOT)),2)STB
					FROM(SELECT MASP,COUNT(MUCDANHGIA) SOLUOT,MUCDANHGIA
					from DANHGIA
					WHERE MASP=SP.MASP
					GROUP BY MUCDANHGIA,MASP) TK 
					GROUP BY TK.MASP) ELSE 0 END AS AVGDANHGIA
						FROM SANPHAM SP) DG ON DG.MASP=SP.MASP
						ORDER BY GIA.GIA DESC



	GO				
	SELECT * FROM GET_PRODUCT_TYPE('MOI')
	SELECT * FROM GET_PRODUCT_NEW(5)
	SELECT * FROM GET_PRODUCT_SPECIAL(5)
	SELECT * FROM GET_PRODUCT_HIGHESTPRICE(5)
GO
-- TANG LUOT XEM SAN PHAM
CREATE PROC INCREASE_VIEW(@ID CHAR(10))
AS	DECLARE @VI INT;
	SET @VI=(SELECT LUOTXEM FROM SANPHAM WHERE MASP=@ID)+1;
	UPDATE SANPHAM SET LUOTXEM=@VI WHERE MASP=@ID
GO
-- TANG GIAM SO LUONG TON KHO CUA SAN PHAM
	CREATE PROC CHANGE_QUANTITY(@ID CHAR(10),@TYPE NVARCHAR(10))
AS	DECLARE @VI INT;
	IF(@TYPE='THEM')
	BEGIN
	SET @VI=(SELECT SOLUONG FROM SANPHAM WHERE MASP=@ID)+1;
	END
	ELSE IF(@TYPE='GIAM')
	BEGIN
	IF(SELECT SOLUONG FROM SANPHAM WHERE MASP=@ID)>0
	SET @VI=(SELECT SOLUONG FROM SANPHAM WHERE MASP=@ID)-1;
	END
	UPDATE SANPHAM SET SOLUONG=@VI WHERE MASP=@ID
GO

--TANG GIAM SO LUONG DA BAN
	CREATE PROC CHANGE_QUANTITYSALE(@ID CHAR(10),@TYPE NVARCHAR(10))
AS	DECLARE @VI INT;
	IF(@TYPE='THEM')
	BEGIN
	SET @VI=(SELECT SL_DABAN FROM SANPHAM WHERE MASP=@ID)+1;
	END
	ELSE IF(@TYPE='GIAM')
	BEGIN
	IF(SELECT SL_DABAN FROM SANPHAM WHERE MASP=@ID)>0
	SET @VI=(SELECT SL_DABAN FROM SANPHAM WHERE MASP=@ID)-1;
	END
	UPDATE SANPHAM SET SL_DABAN=@VI WHERE MASP=@ID
GO


EXEC  INCREASE_VIEW @ID='SP01'

EXEC  CHANGE_QUANTITY @ID='SP01',@TYPE='THEM'

EXEC  CHANGE_QUANTITYSALE @ID='SP01',@TYPE='GIAM'

SELECT * FROM SANPHAM
SELECT MASP,LUOTXEM FROM SANPHAM WHERE MASP='SP01'


select * from SANPHAM sp join HINHANH ha on ha.MASP=sp.MASP